<div class="bg-light p-3 p-sm-5 my-4 rounded">
  <h3>以下の内容で、送信する。</h3>
</div>
<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  
  <p>投稿：<%= @picture.content %></p>
  <%= form.hidden_field :content %>
  
  <p>投稿画像：<%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></p>
  <%= form.hidden_field :image_cache %>
  <br>
  <%= form.submit  "送信する", class: "btn, btn-primary" %>
  
  <%= form_with(model:@picture, url:new_picture_path, local:true, method:"get") do |form| %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "やり直す", name: "back" %>
  <% end %>
  <% end %>