<h1>投稿一覧</h1>
<table class="index_all">
  <thead>
    <tr>
      <th>投稿内容</th>
      <th>Image</th>
      <th>投稿者</th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.content %></td>
        <td><%= image_tag picture.image.url %></td> 
        <td><%= picture.user.name %></td>
        <td><%= link_to '詳細を確認', picture_path(picture.id) %></td>
        <td><%= link_to '編集', edit_picture_path(picture.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table><hr>
<% if logged_in? %>
<%= link_to 'New Picture', new_picture_path %>
<% else %>
<%= link_to 'New Picture', new_user_path %>
<% end %>