<div class="bg-light p-3 p-sm-5 my-4 rounded">
<h1>新規投稿</h1>
</div>
<%= form_with(model: @picture, local: true, url: confirm_pictures_path ) do |form| %>

  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div><br>
  <div>
    <%= form.label :image %>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <br>
  <%= form.submit '投稿する', class: "btn btn-lg, btn-primary" %>
<% end %>
