<div class="bg-light p-3 p-sm-5 my-4 rounded">
  <h1>投稿詳細画面</h1>
</div>
<p>内容: <%= @picture.content %></p>
<p>投稿画像: </p><%= image_tag @picture.image.url %>
<br>
<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to favorite_path(id: @favorite.id), method: :delete do %>
    <i class="fas fa-heart unlike-btn">いいね</i>
    <% end %>
  <% else %>
    <%= link_to favorites_path(picture_id: @picture.id), method: :post do%>
    <i class="far fa-heart like-btn">いいねする</i>
    <% end %>

  <% end %>
  <%= @picture.favorites.count %>
<% end %>
<br><hr>
<%= link_to "投稿一覧に戻る", pictures_path %>