<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/dd3b3c6e1f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div style="color:red;">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    </div>
    <%= render 'layouts/header' %>
    <div class='container'>
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
